.ranklist { background-color: lightgrey; }

.key { font-weight: bold; }

.value { color: blue; }

FIELDSET {
    display: inline-block;
    line-height: 200%;
}

.labels {
    text-align: right;
    float: left;
    margin-right: 5px;
}
.inputs {
    float: left;
}

label,select {
	display: inline-block;
	vertical-align: middle;
}

#middle {
	display: left;
	overflow: scroll;
	width: 60%;
	height: 400px;
}

#left {
	float: right;
	overflow: visible;
	width: 40%;
}

#right {
	float: right;
	overflow: scroll;
	width: 60%;
	height: 200px;
}

/*
div#one {
    width: 15%;
    height: 200px;
    background: red;
    float: left;
}
div#two {
    margin-left: 15%;
    height: 200px;
    background: black;
}
*/
/*
#left {
	float: left;
}

#right {
	overflow:auto;
	float: right;
    line-height: 100%;
}
    
#weighting_info {	
	float: right;
	width: 40%;
    line-height: 100%;
}

#summarizer_info {	
	float: right;
	width: 40%;
    line-height: 100%;
}
*/
