.ranklist { background-color: lightgrey; }

.key { font-weight: bold; }

.value { color: blue; }

FIELDSET {
    display: inline-block;
    line-height: 200%;
}

.labels {
    text-align: right;
    float: left;
    margin-right: 5px;
}
.inputs {
    float: left;
}

label,select {
	display: inline-block;
	vertical-align: middle;
}

#weighting_info {	
	float: right;
	width: 50%;
    line-height: 100%;
}

#summarizer_info {	
	float: right;
	width: 50%;
    line-height: 100%;
}
